<div class="row page-wrapper ff-mt-40">
	<div class="col-12">
		<h1>Welcome to Cainie's Saturday Night Corona Quiz!</h1>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<button class="btn btn-success w-100 ff-mt-60" (click)="goToGame('family-fortunes')">
						Family Fortunes
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button class="btn btn-success w-100 ff-mt-20" (click)="goToGame('scattergories')">
						Scattergories
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<button class="btn btn-success w-100 ff-mt-20" (click)="goToGame('bingo-balls')">
						Bingo Balls
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
