<div class="row ff-mt-40 page-wrapper">
	<div class="col-12">
		<h1>Welcome to Cainie's Saturday Night Corona Quiz!</h1>
		<h2 class="ff-mt-20">The Rules</h2>
		<div class="rules">
			<p>
				We will play in 2 rounds
			</p>
			<p>
				I will read out the question and everyone has to write down a maximum of FIVE answers
			</p>
			<h2 class="ff-mt-20">Scoring</h2>
			<p>
				1 Point for the 5th answer <br />
				2 Points for the 4th answer<br />
				3 Points for the 3rd answer<br />
				4 Points for have the 2nd answer<br />
				5 Points for the top answer
			</p>
		</div>
	</div>
</div>
<div class="row ff-mt-20">
	<div class="col-6 offset-3">
		<button class="btn btn-success w-100" (click)="go()">
			Let's Play!
		</button>
	</div>
</div>
